.jumbotron {
    background-color: papayawhip;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: papayawhip;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 300px;
    margin-top: 10px;
}

.btn-reservar {
    width: 100%;
    border-radius: 0%;

}

.footer-address-icon {
    padding-right: 5px;
}